body, html {
    font-family: 'Arimo', sans-serif;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden; 
}
/* Here Container */

.container {
    max-width: 1195px;
    margin: 0 auto;
    position: relative;

}
/* here heder white block */

.header-bg-block {
    background-color: #fff;
    width: 100%;
    height: 98px;
    margin-top: 32px;
    position: absolute;
    z-index: 999;
}

.nav-set {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-set::before {
    content: "";
    position: absolute;
    width: 1500px;
    height: 20px;
    background: #fff;
    top: 99%;
    right: 80%;
    transform: skew(-50deg, 0deg);
}

.nav-set::after {
    content: "";
    position: absolute;
    width: 1500px;
    height: 20px;
    background: #fff;
    bottom: 99%;
    right: 80%;
    transform: skew(50deg, 0deg);
}

/* Here Logo */

.logo {
    padding-top: 7px;
}

/* Here Menu */

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
	flex-wrap: wrap;
}
    .navigation-item {
    padding: 29px 27px 29px 36px;
    border-right: solid 2px #ddd;
    position: relative;
    }

    .navigation-item:hover > a{
        color:red;
    }

    .navigation-item:hover:nth-last-child(-n+3)::after {
        background: url(../icons/arow-activeRED.svg) center center/100% no-repeat;
    }
    .navigation-item > a {
        font-family: Arimo;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.15;
        color: #404040;
        padding-right: 9px;
    }
    .navigation-item:last-child {
        padding-right: 36px;
    }
    .navigation-item:nth-last-child(-n+3)::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 8px;
        background: url(../icons/arow-nActive.svg) center center/100% no-repeat;
        margin: 0 7px 1px 0;
    }
    .navigation-item:nth-last-child(n+4)::after {
        content: "";
        display: inline-block;
        width: 117px;
        height: 2.5px;
        background-color: red;
        position: absolute;
        left: 1rem;
        top: 5.39rem;
        visibility:hidden;
        opacity: 0;
    }

    .navigation-item:nth-last-child(n+4):hover::after {
        visibility: visible;
        opacity: 1;
    }

/* here dropdown */

.item-dropdown {
    background: white;
    visibility: hidden;
    opacity: 0;
    width: 194px;
    height: 135px;
    position: absolute;
    transition: all 0.3s ease;
    margin-top: 2.2rem;
    margin-left: -2.3rem;
    border: 2px solid #DDD;
    border-top: none;
}

    .item-dropdown > li {
        padding: 20px 10px 0px 20px
    }

        .item-dropdown::before {
            content: "";
            display: inline-block;
            width: 130px;
            height: 3px;
            background-color: red;
            position: absolute;
            left: 1.7rem;
        }
        .item-dropdown > li > a {
            font-family: Arimo;
            font-size: 16px;
            font-weight: bold;
            color: #404040;
        }
        .item-dropdown > li::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 9px;
            background: url(../icons/arow-nActive.svg) center center/100% no-repeat;
            transform: rotate(-90deg);
            margin: 0 7px 1px 0;
        }

            .item-dropdown > li:hover > a {
                color:red;
            } 
            .item-dropdown > li:hover::before {
                background: url(../icons/arow-activeRED.svg) center center/100% no-repeat;
            }

        .navigation > .navigation-item:hover > .item-dropdown {
            visibility: visible;
            opacity: 1;
        }


/* Here Start Main    */

/* Here BG background banner+ color gradient */

.bg-image {
    background: url(../img/bg.jpg) center center/cover no-repeat;
    background-position-x: 10%;
    margin-bottom: 63px;
}

.first-banner {
    width: 100%;
    height: 750px;
    background: url(../img/header-BG.jpg) center center/cover no-repeat;
}
    /* Here Styling Contact Us Page  */

    .cu-hero {
        height: 520px;
        background: url(../img/header-BG-contact.jpg) center center/cover no-repeat;
    }
.first-banner-color {
    background: linear-gradient(45deg, #404040, rgba(84, 84, 84, 0.1));
    width: 100%;
    height: 750px;
}

    /* Here Styling Contact Us Page  */
    
    .hero-gradient {
        background: rgba(64, 64, 64, 0.6);
        height: 520px;  
    }
	
.fixed-banner-conteiner {
    padding-top: 270px;
    width: 510px;
    position: relative;
}


/* Here fixing class in the center of the title for other pages */

    .other-pages-container {
        margin: 0 auto;
        text-align: center;
    }


.main-decor-el-one {
    display: block;
    position: absolute;
    left: -1.2rem;
    top: 16.1rem;
    width: 80px;
    height: 80px;
    border-top: 3px solid red;
    border-left: 3px solid red;
} 

    .mdel-other-page {
        left: 2rem;
    }
.main-title {
    font-family: Raleway;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: normal;
    color: #fff;
    padding-bottom: 5px;
}
    .main-title > span {
        font-weight: normal;  
    }
.main-title > span::after {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 3px solid red;
}

/* Here Alig for H1 other pages and customizing the psevdoitem   */
    
    .other-pages-alig {
        text-align: center;
        position: relative;
    }
    .other-pages-alig > a:last-child {
        padding-left: 28px;
					 
								  
        color: red;
    }

    .other-pages-alig > a:last-child:hover {					   
        color: white;
						 
    }
    .other-pages-alig > a:first-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 9.5rem;
    width: 15px;
    height: 12px;
    background: url(../icons/home-ic.svg) center center/cover no-repeat;
    
    }
							
								  
		 
    .other-pages-alig > span::after {
					
					   
						   
        top: -8px;
        left: 23.3rem;
					
					 
							  
    }
    .main-decor-el-one {
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        border-top: 3px solid red;
        border-left: 3px solid red;
    }   
    .textArimo {
        font-family: Arimo;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.13;
        letter-spacing: normal;
        color: #fff;
    }
    .main-title {
        font-family: Raleway;
        font-size: 70px;
        font-weight: bold;
        letter-spacing: normal;
        color: #fff;
        margin-bottom: 26px;
    }
        .main-title > span {
            font-weight: normal;  
        }
    .main-title > span::after {
        content: "";
        display: block;
        position: absolute;
        top: 21.5rem;
        left: 13.3rem;
        width: 80px;
        height: 80px;
        border: 3px solid red;
    }
    .other-pages-alig > span::after {
    top: -8px;
    left: 23.3rem;
}

/* HERE Button */

.main-btn {
    margin-top: 62px;
    padding: 0px 36px 0 36px;
    background-color: #f00;
    border-radius: none;
    border: none;
    font-family: Arimo;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
    .main-btn > span {
        position: relative;
        right: -36px;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.3);
        width:47px;
        height: 47px;
        padding-top: 14px;
    }
.main-btn:hover {
    background-color: rgb(204, 0, 0);
}

/* Here slider switch */

.slider-switch {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 35px;
}
    .switch-squares {
        background-color: #fff;
        width:10px;
        height: 10px;
    }
    .switch-squares-active {
        width:16px;
        height: 16px;
        border: 2px solid red;
        position: relative;
        bottom: 3px;
    }

/* Here Decorative Element */

.dec-container {
  position: relative;
  
}
    .dec-elem {
        position: absolute;
        width: 1157px;
        height: 20px;
        background: #fff;
        transform: skew(50deg, 0deg);
        left: 3rem;
    }
    .dec-elem::before {
        content: '';
        position: absolute;
        width: 91px;
        height: 20px;
        background: #fff;
        bottom: 99%;
        left: -3.7rem;
        transform: skew(-68deg, 0deg);
        top: 0rem;
    }
    .dec-other-pg {
    margin-top: 112px;
}

  /* Here Center content section   */

  .flex-container {
      display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        gap: 21px;
        margin-top: 60px;
  }

  
    .flex-item-one {
    order: 1;
    flex: 0 1 67%;
    align-self: center;
    }
    
    .flex-item-two {
    order: 2;
    flex: 0 1 31%;
    align-self: auto;
    }

    .flex-sec-container  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }

    .flex-item-img-one {
    order: 1;
    flex: 0 1 40%;
    align-self: center;
    }

    .flex-item-img-second {
        order: 2;
        flex: 0 2 40%;
        align-self: auto;
        }

    .flex-item-img-three {
        order: 3;
        flex: 0 1 auto;
        align-self: auto;
        }

    .flex-wrap::before {
        top: 23rem;
  }

  /* Here Two Image btn + Descr */

        .two-img-btn {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .flex-item-one > div:hover > .gradient-img-btn {
            background: linear-gradient(0grad, rgba(138, 1, 1, 0.5), rgba(255, 0, 0, 0.1));
        }
            .gradient-img-btn {
                display: block;
                width: 381px;
                height: 381px;
                background: linear-gradient(0grad, rgba(84, 84, 84, 0.8), rgba(84, 84, 84, 0.1));
                position: relative;
            }
                .img-btn {
                    background: url(../img/img-link-one.jpg) center center/cover no-repeat;
                    width: 381px;
                    height: 381px;
                }
                .img-btn-two {
                    background: url(../img/img-link-second.jpg) center center/cover no-repeat;
                    width: 381px;
                    height: 381px;
                }
                    .img-btn-item {
                        width: 300px;
                        height: 66px;
                        margin: 0.1px 3px 0 3px;
                        background-color: rgba(255, 0, 0, 0.3);
                        margin: 0 auto;
                        position: absolute;
                        bottom: 25px;
                        left: 0;
                        right: 0;
                    }
                        .img-btn-item > h3 {
                            margin-top: 18px;
                            text-align: center;
                            font-family: Arimo;
                            font-size: 29px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            color: #fff;
                        }

                        .img-btn-item::before {
                            content: "";
                            width: 42px;
                            height: 60px;
                            border-top: 3px solid red;
                            border-left: 3px solid red;
                            border-bottom: 3px solid red;
                            position: absolute;
                            
                        }
                        .img-btn-item::after {
                            content: "";
                            width: 42px;
                            height: 60px;
                            border-top: 3px solid red;
                            border-right: 3px solid red;
                            border-bottom: 3px solid red;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
        .two-img-descr {
            margin-top: 32px;
            color: #404040;
        }

/* Here Form Block */

.form-block {
    width: 1122px;
    height: 498px;
    display: inline-block;
    background-color:#F8F9FA;
    border: 1px solid #DDDDDD;
    position: relative;
}
    .form-container {
        margin: 0 auto;
        margin-top: 41px;
        width: 85%;
    }
        .form-title {
            font-family: Raleway;
            font-size: 30px;
            font-weight: 600;
            color: #404040;
        }
            .form-title > span {
                font-weight: 400; 
            }
        .form-descr {
            margin-top: 27px;
            color: #404040;

        }

/* Here Styling Form */

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    
}
    .form-input {
        width: 100%;
        height: 44px;
        border: 1px solid #DDDDDD;
        margin-top:17px ;
        padding-left: 14px;
        font-family: Arimo;
        font-size: 14px;
    }
    .form-input::placeholder {
        color: #404040;
    }

    .form-input:focus {
        outline: 2px solid red;
        border: none;
    }
    .textarea-styling {
        padding-top: 13px;
        resize: none;
        height: 68px;
    }
    .form-btn {
        margin-top: 37px;
    }

    /* Here form mail grey img */
    
    .img-email-form {
        display: block;
        width: 99px;
        height: 90px;
        background: url(../icons/form-home1-bg.svg) center center/cover no-repeat;
        position: absolute;
        right: 0;
        bottom: 0;
    }

   /* Here new styling for Contact us page  */


.title-ctc-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dec-or-line {
    width: 100%;
    color: #DDDDDD;
    opacity: 0.2;
}

.ctc-container {
    display: flex;
    justify-content:left;
    margin-top: 51px;
} 
    .ctc-block{
        display: flex;
        align-items: center;
        width: 65px;
        height: 65px;
        background-color: #F8F9FA;
        border: 1px solid #DEDEDE;
    }
    .ctc-block > img {
        display: block;
        margin: 0 auto;  
    }
    .ctc-container > .textArimo {
        margin: 25px 0 0 10px;
        color: #404040;
    }

    .ctc-container > a:hover {
        color: red;
    }

.title-ctc-page > .form-title {
    padding: 0 50px 0 50px;
    font-size: 43px;
    white-space: nowrap;
} 

.form_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 67px;
    margin-top: 60px;
}

.form_img > .form-block {
    width:561px;
    height: 595px;
}
.form_img > .form-block > .form-container {
    width: 475px;
}
.form_img > .form-block > .form-container > .form > .form-input:first-child {
    margin-top: 31px;
}


/* Here footer */

.footer-bg {
    /* margin-top: 63px; */
    width: 100%;
    Height: 420px;
    background: url(../img/footer-BG.jpg) center center/cover no-repeat;
}
.footer-color {
    background-color: rgba(46, 46, 46, 0.719);
    width: 100%;
    height: 420px;
}
.footer-dec-el {
    transform: rotate(200grad);
    top: 19px;
}
.flex-container-footer {
    padding-top: 112px;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
}

    .logo-footer-descr {
        margin-top: 20px;
        width: 272px;
    }

.title-block-footer {
    width: 178px;
    height: 40px;
    margin: 0.1px 3px 0 3px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    text-align: center;
    padding-top: 10px ;
    position: relative;
}
        .title-block-footer > h4 {
            font-family: Raleway;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
        .title-block-footer > h4 > span {
            font-weight: normal; 
        }
        .title-block-footer ::before {
            content: "";
            width: 25px;
            height: 35px;
            border-top: 3px solid red;
            border-right: 3px solid red;
            border-bottom: 3px solid red;
            position: absolute;
            right: 0;
            top: 0;
        }
        .title-block-footer::after {
            content: "";
            width: 25px;
            height: 35px;
            border-top: 3px solid red;
            border-left: 3px solid red;
            border-bottom: 3px solid red;
            position: absolute;
            left: 0;
            top: 0;
        }
    .menu-footer > li {
        padding: 16px 0 0 27px;
    }
    .arrow-menu-footer::before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 9px;
        background: url(../icons/ArowWhite.svg) center center/100% no-repeat;
        margin: 0 7px 1px 0;
    }

        .arrow-menu-footer:hover {
            color: red;
        }
        .arrow-menu-footer:hover::before {
            background: url(../icons/arow-activeRED.svg) center center/100% no-repeat;
            transform: rotate(-100grad);
        }

        /* Here for other page */

        .other-pages-alig > a::before {
            position: absolute;
            left: 14.7rem;
            top: 5px
        }


    .contact-block-footer {
        position: relative;
    }
    .phone-footer::before {
        content: "";
        width: 43px;
        height: 42px;
        background: url(../icons/footer-phone.svg) center center/100% no-repeat;
        position: absolute;
        left: 0;
        top: 66px;
    }
    .contact-block-footer > .menu-footer > li {
        padding: 39px 0 0 53px;
    }
    .email-footer::before {
        content: "";
        width: 43px;
        height: 42px;
        background: url(../icons/footer-email.svg) center center/100% no-repeat;
        position: absolute;
        left: 0;
        top: 125px;
    }
    .contact-block-footer > ul > li > a:hover {
        color: red;
    }

/* Here Coryption Dec element + Text */

.coryrt-dec-elem {
    height: 40px;
    top: 5.7rem;
}

.coryrt-dec-elem::before {
    height: 40px;
    width: 200px
}
    .copyright-descr {
        transform: skew(-50deg, 0deg);
        text-align: center;
        margin: 15px 41px 0 0;
        font-family: Arimo;
        font-size: 14px;
        font-weight: 500;
        color: #404040;
    }


    /* About Us */


    .descr-block {
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex: 0 1 50%;
    }
    .item-block {
       display: flex; 
       flex-direction: column;
       gap: 10px;
    }
    .item {
        display: inline-flex;
        justify-content: start;
    }
    .item > h4 {
        color: #404040;
        margin-left: 20px;
    }

    .img-cloud {
        background: url(../img/aboutus.png) center center/cover no-repeat;
        display: block;
        position: relative;
        width: 567px;
        height: 440px;
        flex: 0 1 auto;
    }
    .cloud {
        background-color:red;
        width: 40%;
        height: 90px;
        position: absolute;
        top: 16rem;
        left: 2.5rem;
        text-align: center;
        padding-top: 17px;
    }
    .cloud > h4 {
        font-size: 25px;
    }

    .grey-section {
        background-color: #FDFDFE;
        border: 1px solid #DEDEDE;
        margin-top: 85px;
        padding-bottom: 67px;
    }
    
    .gs-title-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .red-sub-title {
        font-family: Arimo;
        font-size: 18px;
        color: red;
    }
    .blackArimo {
        color: #404040;
    }

    .as-gs-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 63px;
        margin-top: 32px;
    }
    .as-gs-flex > .flex-container > button {
        margin-top: 30px;
    }
    .as-gs-flex > .flex-container {
        margin-top: 0;
        align-content: flex-start ;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .red-strip {
        display: inline-block;
        width: 54px;
        height: 3px;
        background-color: #FF0000;
    }
    .sub-title {
        font-size: 43px;
    }

    .advantages-flex-cont {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        gap: 118px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .advantages-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .item-one {
        background: url(../img/adv-1.jpg) center center/cover no-repeat;
        padding: 10px 20px ;
    }
    .item-one:nth-child(2) {
       background: url(../img/adv-2.jpg) center center/cover no-repeat; 
    }
    .item-one:nth-child(3) {
       background: url(../img/adv-3.jpg) center center/cover no-repeat; 
    }
    .item-one:nth-child(4) {
       background: url(../img/adv-4.jpg) center center/cover no-repeat; 
    }

    .adv-descr-ico {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        align-items:center;
    }
    .adv-descr-ico > h4 {
        font-size: 40px;
    }

    .contact-people {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        gap: 25px;
        margin-top: 40px;

    }
    .social-media {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .social-media > a {
        display: inline-block;
        width: 55px;
        height: 55px;
        border: 1px solid #DEDEDE;
        background-color: #F8F9FA;
        margin: 0 auto;
        padding: 15px;
    }
    .social-media > a:hover {
        border: 1px solid #FF0000;
    }

.au-dec-el {
    background: #FDFDFE;

}
.footer-gb {
    border-bottom:none;
}